.topbar-wrapper{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-image: linear-gradient(to right, #4935C5, #FA6D4B);
}
.topbar{
    width: 80%;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    font-size: 14px;
}
.topbar i{
    color: #fff;
    font-size: 14px;
}

.topbar span{
    margin-left: 20px;
    color: #fff;
}

.middle-wrapper{
    margin: 30px 0px;
    margin-bottom: 40px;
    width: 100%;
    height: 55px; 
}

.middle-wrapper .middle{
    width: 80%;
    height: 55px;
    margin: 0 auto;
    position: relative;
}

.middle-wrapper .middle .logo{
    display: block;
    width: 100px;
    height: 55px;
    background-color: yellow;
    position: relative;
}

.middle-wrapper .middle .logo .pony{
    top: 0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 55px;
    display: block;
    background-image: url('../img/7091635508858_.pic.jpg');
    background-size: contain;
}

.middle-wrapper .middle .logo .pony:hover{
    top: 0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 55px;
    display: block;
    background-image: url('../img/logo.jpg');
    background-size: contain;
}


.middle-wrapper .middle a{
    display: inline-block;
    font-size: 15px;
    position: absolute;
    top: 35px;
    left: 115px;
}

.banner-wrapper{
    width: 100%;
}

.banner{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.btn{
    position: absolute;
    bottom: 0;
    right: 0;
}

.banner .thead{
    background-image: linear-gradient(to right, #FA6D4B, #4935C5);
}
.banner-wrapper .banner .window{
    display: none;
    width: 80%;
    height: 400px;
    margin: 0 auto;
    top: 30%;
    left: 0;
    bottom: 70%;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);
}

.banner-wrapper .banner .window .popimage{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-wrapper .banner .window .btn{
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 50%;
    right: 50%;
    background-image: linear-gradient(to right, #FA6D4B, #4935C5);
    border: none;
}

.banner-wrapper .banner .window .info{
    width: 150px;
    display: flex;
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 60%;
    right: 40%;
    color: white;
    text-align: center;
    vertical-align: middle;
    
}
.banner-wrapper .banner .window .info i{
    margin-right: 10px;
}


.banner .table th,
.banner .table td{
    text-align: center;
    color: #fff;
}

.banner .table td i{
    margin-right: 3px;
}
.banner .table td:nth-child(2){
    font-weight: bold;
}

.banner .table i{
    font-size: 10px;
}

.banner .table tr{
    background-image: linear-gradient(to right, #FA6D4B, #4935C5);
}

.footer-wrapper{
    margin-top: 40px;
    width: 100%;
    height: 150px;
}

.footer{
    width: 80%;
    height: 150px;
    margin: 0 auto;
}

.footer-wrapper .footer span{
    margin-left: 40px;
    margin-top: 10px;
    display: inline-block;
    width: 70%;
    color: #68676D;
}

.footer-wrapper .footer span::first-letter{
    font-size: 30px;
}

.text-wrapper{
    width: 100%;
    height: 70px; 
}

.text{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    color: #68676D;
}
.text::first-letter{
    font-size: 30px;
    
}

.line-wrapper{
    width: 100%;
    /* background-color: yellow; */
    height: 500px;
    margin-top: 20px;
}

.line{
    width: 95%;
    /* background-color: red; */
    height: 500px;
    margin: 0 auto;
}

.search-wrapper{
    width: 100%;
    height: 50px;
    margin: 20px;
}

.search{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.dropdown{
    position: absolute;
    top: 43px;
    right: 40px;
}

#login{
    margin-right: 100px;
}

.gradient-custom{
  width: 100%;
  height: 100%;
  background: #6a11cb;
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.card{
    width: 500px;
    height: 450px;
    background-color: #262626;
    margin: 0px auto;
    margin-top: 40px;
}

.card .title{
    color: white;
    margin: 0px auto;
    margin-top: 50px;
}
.card .info{
    color: #c3c2c2;
    margin: 0 auto;
    margin-top: 10px;
}
#typeUsername,
#typePassword{
    outline:none;
    width: 375px;
    height: 45px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #262626;
    border: 1px white solid;
    border-radius: 5px;
    color: white;
    padding-left: 20px;
}

#loginButton{
    background-color: #262626;
    width: 136px;
    height: 42px;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
    margin-top: 40px;
}

.clearfix::before,
.clearfix::after{
content: '';
display:table;
clear:both;
}